@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Titillium Web', sans-serif;
    margin: 0 100px;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url("images/background-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    color: white;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #344C65;
    font-family: 'Orbitron', sans-serif;
}


nav a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

section {
    display: grid;
    grid-template-columns: 3.2fr 1fr;
    grid-gap: 60px;
}

#left-side {
    grid-column: 1;
}

#right-side {
    grid-column: 2;
}

.standard-article {
    display: flex;
    gap: 30px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #67A3AC;
    color: white;
    border-radius: 10px;
}

.standard-article h2, p {
    margin: 0;
  }

.standard-article span {
    width: 100px;
    border: 2px solid black;
    text-align: center;
  }

.img-article {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.img-article img {
    width: 400px;
    height: 270px;
    border-radius: 10px;
}


.standard-article div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#citation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 36px;
    border: 2px solid #3D3F69;
    border-left: 10px solid #3D3F69;
}

#citation > div:first-child {
    background-color: #344C65;
    color: white;
    padding-left: 10px;
}

#citation > div:first-child h2 {
    margin: 5px;
}

#citation p {
   margin: auto;
   padding: 5px;
}

#menu-admin {
   display: flex;
   justify-content: space-evenly;
}

#menu-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

#admin-create form {
    display: flex;
    justify-content: space-between;
}

#admin-create form div {
    width: 100%;
}

#content-article {
    display: flex;
    justify-content: space-between;
}

#content-article span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#admin-create form div:last-child {
    text-align: center;
}

#dropzone {
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 200px;
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }

.hover {
    border: 2px solid blueviolet;
}



