.login-container {
  display: flex;
  align-items: center;
  height: 50vh;
}

.login {
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login p {
  color: red;
  margin-bottom: 10px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  margin-bottom: 5px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login input[type="submit"] {
  background-color: #344C65;
  color: white;
  cursor: pointer;
}



.login input[type="submit"]:hover {
  background-color: #bebaba;
}